<div class="wrapper">
  <div class="side-bar">
    <%= render "events/side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
    <div class="left-header">
      <div class="header-title">
        <h1>ToDo</h1>
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
          <p><%= link_to 'ToDoの作成', new_task_path %></p>
      </div>
    </div>
  </div>

    <table>
      <tr>
        <th>完了/</th><th>タイトル/</th><th>内容/</th><th>締め切り</th><th></th><th></th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td><%#= task.id %></td>
          <td><%#= task.title %></td>
          <td><%#= task.description %></td>
          <td><%#= link_to 'Show', task_path(task) %></td>
          <td><%#= link_to 'Edit', edit_task_path(task) %></td>
          <td><%#= link_to 'Delete', task_path(task), method: :delete %></td>
        </tr>
        <div>
          <tr>
            <td><%= check_box_tag :completed %></td>
            <td><%= link_to task.title, task_path(task) %></td>
            <td><%= task.description %></td>
            <td><%= task.target_on %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task_path(task), method: :delete %></td>
        
          </tr>
        </div>
      <% end %>
    </table>

 </div>
</div>
