<div class="wrapper">
  <div class="side-bar">
    <%= render "events/side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          <h1>Tasks</h1>
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
        
        </div>
      </div>
    </div>


    <div style="width: 300px;">
      <%= form_for(@task) do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title, size: 50 %>
      </div>
      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div>
        <%= f.label :target_at %>
        <%= f.date_field :target_on %>
      </div>
       <%# <div>  %>
         <%#= f.boolean :completed %> 
         <%#= f.label :boolean %> 
      <%# </div> %>
      <%# check_box_tag %>
        <%= f.submit 'Submit' %>
      <% end %>
    </div>
    <p><%= link_to '一覧に戻る', tasks_url %></p>

  </div>
</div>


      <%# # タスク完了日 %>
      <%# t.datetime :completed_at, null: true %>

