<div class="chat-header">
 <div class="left-header">
    <div class="header-title">
    <%# チャットルーム名を表示 %>
      <%# <%= @room.name %> 
            <h1>diary</h1>      
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
    <%# "チャットを終了する"をクリックすると、チャットルームが削除されるようにリンクを設定 削除のパスはroom_path 削除するチャットルームを区別するために、定義している@roomを引数にし、HTTPメソッドのdeleteを指定すると、roomsコントローラーのdestroyアクションが実行されます。 %>
      <%# <%= link_to "チャットを終了する", room_path(@room), method: :delete %> 
    </div>
  </div>
</div>

<div class="calendars">
  <p id="notice"><%= notice %></p>

 


  <br>



  <%= month_calendar events: @diaries do |date, diaries| %>
    <%= date.day %>

    <% diaries.each do |diary| %>
      <div>
        
        <%= link_to diary.title, diary_path(diary.id) %> 
      </div>
    <% end %>
  <% end %>
</div>




  <%= form_with(model: @diary, url: diary_index_path, method: :post, local: true, class: 'form') do |f| %>
  <div class="diary-hed" >
    <%= f.label :日付, class: 'diary-lavel' %>
    <%= f.date_field :start_time, value: Time.now.strftime("%Y-%m-%d"), class: 'date-select' %>
    <%= f.label :タイトル, class: 'diary-lavel' %>
    <%= f.text_field :title, class: 'text-input' %>
    <%= f.submit '保存', class: "form-submit" %>
  </div>

    <div class="diary-content">
      <%= f.label :content, class: 'diary-lavel' %>
      <%= f.text_area :content, class: "diary-text" %>
    </div>
  <% end %>
<%#= render 'form', event: @diary %>

